name: Publish Library

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"


jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.x
      - name: Set VERSION variable from tag
        run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
      - name: Build
        run: dotnet build --configuration Release /p:Version=${VERSION}
      - name: Pack
        run: dotnet pack --configuration Release /p:Version=${VERSION} --output .
      - name: Push
        run: dotnet nuget push TehBilly.CSharp.SomeLibrary.${VERSION}.nupkg --source https://nuget.pkg.github.com/tehbilly/index.json --api-key ${GITHUB_TOKEN}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  trigger_downstream:
    runs-on: ubuntu-latest
    needs: build
    permissions: write-all
    strategy:
      matrix:
        downstream:
          - TehBilly.CSharp.SomeApp
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: latest
      - name: npm install @octokit/action
        run: npm install @octokit/action
      - name: trigger-downstream.js
        run: node .github/actions/trigger-downstream.mjs
        env:
          # Have to use the PAT here because the GITHUB_TOKEN doesn't have access to the downstream repo
          GITHUB_TOKEN: ${{ secrets.ACTIONS_TOKEN }}
          DOWNSTREAM_REPO: ${{ matrix.downstream }}
          LIBRARIES: |-
            {
              "TehBilly.CSharp.SomeLibrary": "${{ github.event.client_payload.version }}"
            }
